<a href="https://colab.research.google.com/github/Maher1410/NN-LABS/blob/main/Lab_4_MLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/LABNN/telco_churn.csv')

In [4]:
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan)

In [7]:
df['TotalCharges'] = df['TotalCharges'].astype('float')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [9]:
import numpy as np
df['Churn'] = np.where(df['Churn'] == 'Yes', 1, 0)

In [10]:
def convert_categories(cat_list):
  for col in cat_list:
    df[col] = df[col].astype('category')
    df[f'{col}_cat'] = df[f'{col}'].cat.codes

In [31]:
def convert_categories(cat_list):
  for col in cat_list:
    df[col] = df[col].astype('category')
    df[f'{col}_cat'] = df[f'{col}'].cat.codes

category_list = ['gender', 'Partner', 'Dependents', 'PhoneService',
                 'MultipleLines', 'InternetService', 'OnlineSecurity','OnlineBackup',
                 'DeviceProtection','TechSupport','StreamingTV',
                 'StreamingMovies','Contract','PaperlessBilling',
                 'PaymentMethod' ]

convert_categories(category_list)

print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... InternetService_cat  \
0  No phone service             DSL             No  ...                   0
1                No             DSL            Yes  ...                   0
2                No             DSL            Yes  ...                   0
3  No phone service             DSL            Yes  ...                   0
4                No     Fiber optic             No  ...                   1

  OnlineSecurity_cat DeviceProtection_cat TechSupport_cat StreamingTV_cat  \
0                  0                    0               0               0
1                  2                    2               0               0
2                  2                    0               0               0
3                  2                    2               2               0
4                  0                    0               0               0

  StreamingMovies_cat Contract_cat PaperlessBilling_cat  PaymentMethod_cat  \
0                   0            0                    1                  2
1                   0            1                    0                  3
2                   0            0                    1                  3
3                   0            1                    0                  0
4                   0            0                    1                  2

   OnlineBackup_cat
0                 2
1                 0
2                 2
3                 0
4                 0

[5 rows x 36 columns]

In [32]:
df['TotalCharges']

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [33]:
X = df [['gender_cat', 'Partner_cat' , 'Dependents_cat' ,'PhoneService_cat', \
         'MultipleLines_cat' , 'InternetService_cat' ,
         'OnlineSecurity_cat' , 'OnlineBackup_cat' ,'DeviceProtection_cat',\
         'TechSupport_cat' , 'StreamingTV_cat',
         'StreamingMovies_cat' ,'Contract_cat', 'PaperlessBilling_cat' , \
         'PaymentMethod_cat' , 'MonthlyCharges',
         'TotalCharges', 'SeniorCitizen' ,'tenure']]
y= df['Churn']

In [34]:
#fix rando, seed for reproducibility
seed = 7
np.random.seed(seed)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test_hold_out, y_train, y_test_hold_out =  train_test_split(X, y, test_size=0.33)

In [36]:
X_train

,gender_cat,Partner_cat,Dependents_cat,PhoneService_cat,MultipleLines_cat,InternetService_cat,OnlineSecurity_cat,OnlineBackup_cat,DeviceProtection_cat,TechSupport_cat,StreamingTV_cat,StreamingMovies_cat,Contract_cat,PaperlessBilling_cat,PaymentMethod_cat,MonthlyCharges,TotalCharges,SeniorCitizen,tenure
4283,1,1,0,1,0,1,0,0,0,0,0,0,0,1,2,70.20,280.35,1,4
2661,0,0,0,0,1,0,2,2,2,2,0,0,2,1,3,47.40,3177.25,0,66
6422,1,0,0,1,0,0,2,0,2,0,0,0,1,0,2,53.75,2790.65,0,52
5745,0,1,1,1,2,2,1,1,1,1,1,1,2,1,3,24.20,1445.20,0,61
1949,1,1,1,1,2,1,2,0,0,2,2,2,2,0,0,104.60,6885.75,0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5699,1,0,0,1,0,1,0,0,2,0,2,0,0,0,2,85.30,1219.85,0,15
2550,0,1,1,1,0,2,1,1,1,1,1,1,2,0,3,20.05,1090.10,0,56
537,0,1,1,1,0,0,2,2,2,0,0,0,1,1,3,58.45,1955.40,0,33
1220,1,0,0,1,2,0,2,0,0,0,0,2,0,0,0,65.75,1111.20,0,17
4271,0,1,1,1,0,2,1,1,1,1,1,1,1,0,3,19.90,543.00,0,28

In [37]:
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)

X_test_hold_out = np.asarray(X_test_hold_out).astype(np.float32)
y_test_hold_out = np.asarray(y_test_hold_out).astype(np.float32)

In [38]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.metrics import accuracy_score

In [39]:
model = Sequential()

In [41]:
model.add(Dense(X_train.shape[1], input_shape=(X_train.shape[1],),
kernel_initializer='normal', activation='relu'))

In [42]:
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))

In [43]:
model.add(Dense(1, activation='softmax'))
model.compile(optimizer = 'adam',loss='binary_crossentropy', metrics =['accuracy'])
model.fit(X_train, y_train, epochs = 20)

Epoch 1/20
148/148 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7136
Epoch 2/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 3/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 4/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 5/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 6/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 7/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 8/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 9/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 10/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 11/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 12/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 13/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 14/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 15/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 16/20
148/148 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 17/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 18/20
148/148 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7393
Epoch 19/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393
Epoch 20/20
148/148 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7393

In [44]:
y_pred = model.predict(X_test_hold_out)
y_pred = np.where(y_pred > 0.5, 1, 0)

73/73 [==============================] - 0s 1ms/step

In [45]:
print ("Accuracy: ", accuracy_score(y_pred, y_test_hold_out))

Accuracy:  0.7251612903225807

In [46]:
! pip install nbconvert

Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (6.5.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert) (4.9.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (4.12.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert) (6.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (0.4)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (3.1.3)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (5.7.2)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert) (0.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (2.1.5)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (0.10.0)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (5.10.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from nbconvert) (24.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (1.5.1)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (2.16.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (1.3.0)
Requirement already satisfied: traitlets>=5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert) (5.7.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.7->nbconvert) (4.2.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from nbclient>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert) (4.19.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert) (2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (0.35.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (0.18.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (24.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.3.3)